   # Assignment 1.

## Task 1:

In [10]:
a=20
b=30
c=20 if a>b else 50
print(c)

50

In [6]:
# 2. Numbers which are divisible by 7 but are not multilple of 5:

for i in range(2000,3201):
    if (i%7==0):
        if (i%5!=0):
            print(i)

In [3]:
# 3.printing names in the reverse order:

first_name=input()
last_name=input()
first_name+last_name
print(last_name,"",first_name)

sunil
maurya
maurya  sunil

In [9]:
# 4.finding volume of a sphere with diameter 12cm.

diameter=12             # 12cm
r=diameter/2       # radius 6 cm
V=4/3*3.14*(r*r*r)   # V - volume of a sphere
print("volume of a sphere is ",V)

volume of a sphere is  904.3199999999999

# # task 2.

In [21]:
# 1. printing comma separated numbers in the form of a list:

num=input("Enter the numbers:")
num1=num.split(",")
print(num1)
l1=[]
for i in num1:
    l1.append(int(i))
print(l1)

Enter the numbers:1,2,3,4,5
['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

In [28]:
# 2.Creating patten

for i in range(5):
    for j in range(i+1):
        print("*",end="")
    print()
for k in range(5):
    print("*"*(5-k-1))

*
**
***
****
*****
****
***
**
*

In [30]:
# 3. Reversing the word after taking input from the user:
user_input=input("Enter word: ")
print(user_input[::-1])

Enter word: sunil
linus